<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אנליזה של השירים </title>

    <!-- Bootstrap Core CSS -->
    <link href="static/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/admin/css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<html dir="rtl">

    <div class="brand"> הקשר בין דת לשירה עברית</div>
    <div class="address-bar">פרויקט במדעי הרוח הדיגיטליים</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">קצת עלינו</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                            <a href="contact.html">צרו איתנו קשר</a>
                    </li>
                     <li>
                            <a href="maps.html">ממצאים</a>
                    </li>

                    <li>
                            <a href="analyze.html">אנליזות</a>
                    </li>
                    <li>
                         <a href="about.html">קצת עלינו</a>

                    </li>
                    <li>
                            <a href="index.html">עמוד הבית</a>

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>אנליזות</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="static/admin/img/slide-22.jpg" alt="">
                </div>
                <div align="right">

                <div class="col-md-6">


 <hr class="visible-xs">
 <div align="right">
<p>
   <b>הסבר על תהליך האנליזה:</b>
</p>
<p>
ראשית, עיבדנו את כל השירים שנמצאים באתר "שירונט", ולאחר מכן חילקנו אותם על פי המחברים.
חשוב לציין כי השערתנו מתבססת בעיקר על המחברים, ולא על הזמרים של השיר, מתוך האמונה שאיסוף המידע על המחברים ישקף יותר את הקשר בין דת לשירה, שכן הדת היא אחד ממקורות ההשראה עבור מחברים בעלי זיקה לדת.
על מנת למצוא את הזיקה לדת וההשראה אותה שואב המחבר מהדת, יצרנו סקריפט שנכתב ב-Python אשר סופר מילים שעשויות להצביע על זיקה לדת באופן מהימן יחסית, כגון "אלוהים", "אלוהיי", "אלי", "מתפלל", "ירושלים" ועוד.
בסופו של דבר, לאחר איסוף הנתונים יצרנו פרויקט באמצעות ה-open refine, בעזרתו צירפנו עבור כל המחברים עבורם קיים ערך ב-Wikipedia. השלב הבא והאחרון הוא הרצת סקריפט שבודק עבור כל מחבר את עיר הולדתו.

</p>

</div>
</div>
</div>

 <div class="container">
<p>
  <b>ניתוח הממצאים:</b>
</p>
<p>
כפי שניתן לראות ב- <a href="maps.html">מפה</a ישנם הרבה מאוד מקומות בעולם אשר מהם הגיעו יוצרים שהשפיעו על השירה העברית בכלל, ועל זו הקשורה לדת בפרט.
יש לציין כי לא הופתענו לראות נציגות רחבה מהעיר ירושלים, אשר באופן טבעי כבירתה של מדינת ישראל ובשל חשיבותה ההיסטורית לעם היהודי היא מהווה אבן שואבת לאנשים בעלי זיקה לדת.
כמו כן, בדומה לעבודה השניה בקורס, שם ראינו נציגות ענפה ממזרח אירופה ומארצות הברית, בייחוד אזור פולין והאימפריה הרוסית לשעבר. ממחקר שערכנו עבור ערכים של מחברים המגיעים מאזור זה, כגון זאב ז'בוטינסקי ואברהם ברוידס, אשר תרומתם לציונות והזיקה היהודית הייתה גדולה.
הנציגות מארצות הברית, שלא במפתיע מתרכזת בעיקר במרכזים בהם יש ריכוז של אוכלוסיה יהודית דתית, כגון ברוקלין שבניו יורק.<\n>
 כמו כן, רבים מן היוצרים שמופיעים ברשומות שמוצאם ממדינות אחרות, כגון לאה גולדברג, עלו בשלב מסוים של חייהם לירושלים ואף בילו שם את שארית חייהם, מה שבהחלט עשוי להצביע על קשר חזק לשורשים הדתיים שלהם.
<br><br>
כמו כן, ניתן לראות שחיפה גם מהווה נתח משמעותי מההתפלגות. איננו יודעים בוודאות מהי הסיבה לכך, אך ניתן לשער שהדבר נובע מכך שחיפה היא עיר מעורבת בה יש נציגות של שלוש הדתות המונותאיסטיות המרכזיות, ולכן קיימת אוכלוסיה גדולה של מאמינים בעיר.
לעומת זאת, הופתענו מאוד לראות שישנה נציגות גדולה מתל-אביב, שאף הגיעה לראש הטבלה. הדבר עורר בנו פליאה רבה, שכן תל-אביב נתפשת לרוב בישראל כמרכז החילוניות, עיר שהזיקה לדת היא מהנמוכות בישראל. עם זאת, כשחקרנו יותר לעומק על רוב הערכים של המחברים שמגיעים מתל-אביב הבחנו שרבים מהם מגיעים משכונות מסורתיות יותר כמו כפר שלם וכרם התימנים, או שחיו בתקופה שתל-אביב הייתה צעירה וגרו בה בעיקר יהודים ציוניים, נצר למקימי העיר.
<br><br>
לסיכום, ניתן להבחין מהתבוננות במפה שישנם מחברים רבים שמגיעים ממקומות שונים בעולם והם בעלי זיקה לדת, משמע האמונה היא עניין סובייקטיבי שלא תלוי באופן בלעדי באזור בו המחבר גדל.
עם זאת, בדומה לחקר על הסופרים, ניכר שישנו קשר מסוים בין הילדות והסביבה בה נולד וגדל המחבר לבין הזיקה שלו לדת וההשראה שהיא נותנת לו ביצירתו, כפי שניתן להבחין מריבוי הנציגויות מאזורים עם זיקה דתית חזקה יותר.

</p>

<p>
   קישורים להורדה:
</p>
<p>
<b>
 מאגר נתונים של כל השירים משירונט ממוינים לפי שם מחבר
</b>
</p>

<p>
                    <a href=https://drive.google.com/open?id=0B0oLCMIyP51aXzVfSGFIUmI4ajg class="btn btn-default btn-lg ">הורדה</a>
</p>
<br>

<p>
<b>
 טבלה מורחבת מתוך הopen refine
</b>
</p>

<p>
                    <a href=https://drive.google.com/a/post.bgu.ac.il/file/d/0B9jT_sWv2ObYLWF0ZUVncHp6ZXc/view?usp=sharing class="btn btn-default btn-lg ">הורדה</a>
</p>

<br>

<p>
<b>
פרויקט ה open refine המלא
</b>
</p>

<p>
                    <a href=https://drive.google.com/a/post.bgu.ac.il/file/d/0B9jT_sWv2ObYQzNWMGF0RzhnZ1U/view?usp=sharing class="btn btn-default btn-lg ">הורדה</a>
</p>


</div>
                <div class="clearfix"></div>
            </div>
        </div>


    <!-- /.container -->
<br><br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Linoy Ben Haim & Tomer Nir 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/admin/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/admin/js/bootstrap.min.js"></script>

</body>

</html>
